.container {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form input,
  .form textarea,
  .form select {
    padding: 15px;
    background-color: var(--bg);
    color: var(--text);
    border: 2px solid #2e374a;
    border-radius: 5px;
    margin: 10px;
    width: 100%;
    }
  
  .form textarea {
    width: 100%;
  }
  
  .form button {
    padding: 15px;
    background-color: teal;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin: 5px;
  }
  
  .add-product-btn {
    margin-top: 20px;
  }
  
  .tablecontainer {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 10px;
  }

  .table th, .table td {
    padding: 20px;
    border: 1px solid #ddd;
    text-align: left;
    width: 100%;
  }
  
  .table th {
    background-color: #2e374a;
  }
  
  .add-product-btn {
    background-color: teal;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
  }
  
  .add-product-btn:hover {
    background-color: darkcyan;
  }