.faqContainer {
    max-width: 768px; /* Adjust max-width as needed */
    margin: 0 auto;
    padding: 2rem;
  }
  
  .faqItem {
    margin-bottom: 2rem;
  }
  
  .faqQuestion {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .faqAnswer {
    font-size: 0.9rem;
  }